.btn {
	&_orange {
		background: none;
		border: 1px @orange solid;
		font-size: 14px;
		padding: 15px 30px;
		outline: none !important;
		color: orange;
		transition: all 0.2s;
		cursor: pointer;
		&:hover {
			background: @orange;
			color: white;
		}
	}
}