.form {
	width: 1200px;
	position: relative;
	margin: 0 auto;
	&__box {
		background: @black;
		color: white;
		width: 765px;
		margin: 0 auto;
		padding: 60px 55px;
		box-sizing: border-box;
		&-string {
			margin-bottom: 23px;
			.clearfix;
			.input	{
				width: 50%;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.h2 {
		margin-bottom: 75px;
	}
	.textarea {
		height: 160px;
	}
	.cbox__item {
		margin-left: 15px;
	}
	&__btn {
		width: 655px;
		margin: 40px auto 0;
		.clearfix;
	}

}

@media (max-width: 1200px) {
	.form {
		width: 100%;
		box-sizing: border-box;
		&__box {
			padding: 90px 30px;
		}
		&__btn {
			width: 685px;
		}
	}
}