.top-block {
	background: url(../img/top-img.jpg);
	background-repeat: none;
	background-position: center top;
	background-size: cover;
	min-height: 100vh; 
	box-sizing: border-box;
	&__box {
		margin: 0 auto;
		padding-top: 90px;
		position: relative;
		&-top {
			margin: 0 auto;
			display: block;
			width: 80%;
			display: flex;
			justify-content: space-between;
			box-sizing: border-box;
		}
	}
	&__content {
		width: 1200px;
		margin: 0 auto;
		font-family: 'Roboto', sans-serif;
		display: flex;
		margin-top: 210px;
		box-sizing: border-box;
		&-left {
			flex: 0 0 73%;
			max-width: 840px; 
		}
		&-righr {
			flex: 1;
		}
	}
	&__title {

		font-size: 48px;
		font-weight: 100;
		line-height: 1.2;
		margin-bottom: 35px;
		letter-spacing: 1.2px;
		span {
			font-weight: normal !important;
		}
	}
	&__text {
		font-weight: 300;
		font-size: 18px;
		line-height: 1.55;
		width: 390px;
		margin-bottom: 35px;
		letter-spacing: 0.46px;
		.clearfix;
	}
	&__logo {
		
		background: url(../img/logo-ac.png) no-repeat;
		width: 272px;
		height: 20px;
		transition: all 0.2s;
		margin-left: 0;
		&:hover {
			opacity: 0.7;
		}

	}
}
//планшет
@media (max-width: 1200px) { 
	.top-block {
		&__content {
			padding-left: 40px;
			padding-right: 40px;
			width: 100%;
		}
		&__title {
			max-width: 800px;
		}
		&__box {
			padding-top: 40px;
		}
		&__box-top {
			width: 100%;
			padding-left: 20px;
			
		}
	}
}




















